.App {
  text-align: center;
  background-color: #123d94;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p{
  color: white;
}

button{
  cursor: pointer;
}

button:disabled{
  cursor: default;
}